form {
  width: 500px;
  margin: auto;
  background-color: white;
  margin-top: 5px;
  padding: 10px;
}

form input {
  width: 100%;
  outline: none;
  padding: 5px;
  margin-top: 10px;
  font-size: 18px;
  border: 1px solid black;
}

form button {
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  background-color: black;
}

.err {
  color: red;
  margin-top: 10px;
  display: block;
}

.err-border {
  border: 1px solid red;
}
